:root {
  --test: rebeccapurple;
  --text: hsl(0, 0%, 0%);
  --bg: #c8c8fa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tint: 235;
    --text: hsl(var(--tint), 100%, 95%);
    --bg: hsl(var(--tint), 18%, 12%);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--bg)
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* background: var(--test); */
  min-width: 475px;
  width: 1536px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .4s;
}

.content{
  margin: auto;
}

@media (max-width: 1536px) {
  .container {
    width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    width: 1024px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 768px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 640px;
  }
}@media (max-width: 640px) {
  .container {
    width: 475px;
  }
}

