:root {
  --test: rebeccapurple;
  --text: hsl(236, 25%, 24%);
  --bg: hsl(27, 47%, 82%);
  --alert: #C45957;

  --sbWidth: 150px
}

@media (prefers-color-scheme: dark) {
  :root {
    --tint: 235;
    --text:  #eedfd2;
    --bg: #2e304c;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text);
  background: var(--bg)
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  /* background: var(--test); */
  min-width: 475px;
  width: 100vw;
  margin: 0;
  /* padding-left: 50px;
  padding-right: 50px; */

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* transition: all .6s; */
}

.sidebar {
  /* background: var(--test);
  opacity: .5; */
  position: fixed;
  height: 100vh;
  width: var(--sbWidth);
}

.r-block{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: var(--sbWidth);
  padding-left: 20px;
}

.header {
  border-bottom: 1px solid var(--text);
}

.content {
  align-self: center;
}

@media (max-width: 1536px) {
  .container {
    /* width: 1366px; */
  }
}
@media (max-width: 1366px) {
  .container {
    /* width: 1280px; */
  }
}
@media (max-width: 1280px) {
  .container {
    /* width: 1024px; */
  }
}
@media (max-width: 1024px) {
  .container {
    /* width: 768px; */
  }
}
@media (max-width: 768px) {
  .container {
    /* width: 640px; */
  }
}@media (max-width: 640px) {
  .container {
    /* width: 475px; */
  }
}

