.container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 40px;
  gap: 20px;
  text-transform: uppercase;
}

.logo {
  align-self: center;
}

.menu {
  display: flex;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menuTitle {
  font-size: small;
  opacity: .5;
  align-self: center;
}

.separator {
  width: 130px;
  display: flex;
  border: 1px solid var(--text);
  opacity: .3;
}