.links {
  min-height: 250px;
  margin-top: 210px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.logout {
  margin-left: 50px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.menuButton, .mobileLinks {
  display: none;
}

.profileMenuPicture {
  display: flex;
  flex-direction: column;
}

.profileMenuButton {
  background:none;
  padding: 0;
  border: none;
  cursor: pointer;
  align-self: end;
}

.profileMenuLinks {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  border: 1px solid var(--text);
  border-radius: 23px;
  background: #2e304cb0;
  backdrop-filter: blur(3px); 
  box-shadow: 3px 3px 10px #2e304c;
}

.logoutButton {
  display: flex;
  cursor: pointer;
  width: 25px;
  background: none;
  color: var(--text);
  border: none;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
}

.notifButton{
  align-self: flex-start;
  cursor: pointer;
  width: 25px;
  background: none;
  color: var(--text);
  border: none;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0;
}

.notifNumber {
  /* opacity: .8; */
  position: absolute;
  transform: translateY(-100px);
  width: 50px;
  height: 50px;
  scale: .5;
  font-size: 30px;
  font-weight: 700;
  color: var(--text);
  background: var(--alert);
  border-radius: 100%;
  align-content: center;
  
}

@media (max-width: 768px) {
  .links {
    display: none;
  }

  .menuButton {
    display: block;
    cursor: pointer;
    width: 30px;
    background-color: var(--bg);
    color: var(--text);
    border: none;
  }

  
  .mobileLinks {
    /* opacity: .5; */
    position: absolute;
    top: 100px;
    right: 0;
    width: 50%;
    height: calc(100vh - 100px);
    background-color: var(--test);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

}